# Linear Regression - Diabetes Dataset

Linear Regression - Diabetes Dataset
Send Feedback
Diabetes dataset is one of the datasets available in sklearn. The diabetes dataset consists of 10 physiological variables (age, sex, weight, blood pressure) measure on 442 patients, and an indication of disease progression after one year.
You are given a Training dataset csv file with X train and Y train data. As studied in lecture, your task is to come up with Linear Regression training algorithm and thus predictions for the test dataset given.
Read Instructions carefully -
1. Use Linear Regression(in scikit learn) as a training algorithm and submit results predicted by that.
2. Files are in csv format, use genfromtxt function in numpy to load data from csv file. Similarly you can use savetxt function to save data into a file.
3. Submit a csv file with only predictions for X test data. File should not have any headers and should only have one column i.e. predictions.  Also prediction values in file should be upto **5** decimal places.
4. Upon submission of predictions, the score you will get is based on coefficient of determination.

Note :
1. You need to upload both predictions and notebook file to submit.

2. Please make sure that your submissions are genuine and you havenâ€™t cheated/copied from anywhere. Also only use techniques taught till this stage for submissions.

3. Your batchmates and TAs can view your submissions, and report them for use of invalid means if that happens. Your score will be reduced to 0 in that case.

In [ ]:
Loads the datsets

In [174]:
data = np.loadtxt("D:\\Desktop\\datasets\\0000000000002329_training_diabetes_x_y_train.csv",delimiter=',')

In [181]:
data_pd = pd.read_csv("D:\\Desktop\\datasets\\0000000000002329_training_diabetes_x_y_train.csv")

In [183]:
data_pd.head(10)

,# age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Y
0,-0.049105,-0.044642,0.160855,-0.046985,-0.029088,-0.019790,-0.047082,0.034309,0.028017,0.011349,346.0
1,-0.070900,0.050680,-0.089197,-0.074528,-0.042848,-0.025739,-0.032356,-0.002592,-0.012908,-0.054925,104.0
2,0.001751,-0.044642,-0.070875,-0.022885,-0.001569,-0.001001,0.026550,-0.039493,-0.022512,0.007207,49.0
3,0.048974,0.050680,0.081097,0.021872,0.043837,0.064134,-0.054446,0.071210,0.032433,0.048628,180.0
4,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349,110.0
5,-0.060003,0.050680,-0.047163,-0.022885,-0.071743,-0.057681,-0.006584,-0.039493,-0.062913,-0.054925,72.0
6,-0.074533,0.050680,0.055229,-0.040099,0.053469,0.053174,-0.043401,0.071210,0.061238,-0.034215,68.0
7,-0.016412,-0.044642,-0.013751,0.132044,-0.009825,-0.003819,0.019187,-0.039493,-0.035817,-0.030072,216.0
8,0.023546,0.050680,-0.020218,-0.036656,-0.013953,-0.015092,0.059685,-0.039493,-0.096433,-0.017646,47.0
9,0.074401,-0.044642,0.031517,0.101058,0.046589,0.036890,0.015505,-0.002592,0.033657,0.044485,296.0

In [177]:
X=data[:,0:-1]
Y=data[:,-1]

In [179]:
X

array([[-0.04910502, -0.04464164,  0.16085492, ...,  0.03430886,
         0.02801651,  0.01134862],
       [-0.07090025,  0.05068012, -0.08919748, ..., -0.00259226,
        -0.01290794, -0.05492509],
       [ 0.00175052, -0.04464164, -0.07087468, ..., -0.03949338,
        -0.02251217,  0.00720652],
       ...,
       [ 0.02354575, -0.04464164,  0.0703187 , ..., -0.00259226,
        -0.01919705, -0.00936191],
       [ 0.01628068,  0.05068012,  0.07247433, ..., -0.00259226,
        -0.02364456,  0.06105391],
       [-0.00914709,  0.05068012, -0.03099563, ..., -0.00259226,
         0.00620932,  0.02791705]])

In [180]:
Y

array([346., 104.,  49., 180., 110.,  72.,  68., 216.,  47., 296.,  65.,
        96.,  67.,  52., 100., 202., 128.,  63., 281., 152., 124., 245.,
       101., 113.,  48., 197., 186., 132., 245.,  91.,  43., 101., 111.,
       199., 220., 281., 217.,  93., 174., 150., 206.,  61.,  55., 118.,
        53., 275., 215., 142.,  90.,  65., 200.,  96., 249., 200., 155.,
       170., 141., 179., 225.,  61., 103., 131., 158., 275., 246.,  97.,
       302.,  91., 178.,  51., 170., 104., 168., 257., 182.,  71., 220.,
       241., 192., 220., 220., 141.,  89., 144., 150., 135., 200.,  39.,
        25., 185.,  52.,  92.,  63., 152.,  69.,  68., 274., 279., 236.,
       168., 143., 135., 123., 277.,  60.,  72.,  72., 109.,  86.,  92.,
        99.,  48., 170., 283., 129.,  75., 270., 272.,  31., 262., 232.,
       191., 140., 233., 196., 263.,  88.,  84., 137., 128.,  78., 140.,
       252.,  55., 104., 235.,  37., 122.,  72., 144., 138., 253.,  90.,
        53., 198., 145.,  73., 252.,  77., 295., 243.,  83., 212., 185.,
       126.,  68., 210., 107., 200.,  69.,  98., 242., 163., 172.,  40.,
       109.,  39., 202., 131., 261.,  71., 200.,  60., 198., 198., 107.,
       252., 144., 108.,  64.,  83.,  67., 146.,  84.,  96., 270.,  80.,
       182., 214., 127., 143., 222.,  50.,  85., 115., 243., 281., 258.,
       114.,  57.,  94., 136.,  88., 178.,  94.,  81.,  42., 102., 139.,
        74.,  69., 308., 200., 242., 158., 174.,  66.,  78., 127., 132.,
       201., 178., 202.,  66., 248., 237., 120., 111.,  99.,  96., 180.,
       341., 219., 131., 141.,  89.,  59., 147.,  44., 336.,  47., 272.,
       317., 161.,  64.,  78., 111., 208., 190., 244., 246.,  48., 275.,
       182., 248.,  59., 178., 113., 109., 142.,  59., 110., 128.,  95.,
        65., 115., 276.,  85., 183.,  58.,  71., 162., 225., 306., 137.,
        85.,  77.,  72., 166., 310.,  79., 195., 321., 160., 283.,  75.,
       167., 191.,  71., 297., 185., 134., 233., 151.,  83., 258.,  54.,
        55., 189.,  70., 310., 181., 172., 235., 275., 259.,  88.,  74.,
        91., 104., 173., 179., 148., 168., 124., 164., 214., 263.,  52.,
        52., 160.,  88.,  94., 109.,  53., 265., 233.,  63., 288., 131.,
        42.])

# TRAINING THE ALGORITHM

In [184]:
from sklearn.linear_model import LinearRegression
alg=LinearRegression()
alg.fit(X,Y)

LinearRegression()

# TESTING THE DATA

In [186]:
test_data=np.loadtxt("D:\\Desktop\\datasets\\0000000000002329_test_diabetes_x_test.csv",delimiter=',')
test_predict=alg.predict(test_data)
np.savetxt('coding.csv',test_predict,fmt='%1.5f')